html {
  font-size: 10px;
}

body {
  font-family: "Josefin Sans", sans-serif;
  background-image: url("../img/bg-pattern.png");
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
}

.header-wrap {
  color: #F2F4D3;
  background-color: #59B4AA;
  padding: 15px 4.5rem 15px 4.5rem;
  border-radius: 2rem;
}

h1 {
  font-family: "Tillana", cursive;
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
  padding: 1.5rem 0 1.5rem;
}

main {
  margin: 4rem;
  background-color: #E5E5E5;
}

.pixel-wrap {
  display: grid;
  grid-template-columns: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  grid-template-rows: 25px 25px 25px 25px 25px 25px 25px 25px 25px 25px;
  margin: 2rem;
}

.pixel {
  /* margin: 2rem; */
  width: 25px;
  height: 25px;
  border: solid 1px black;
  background-color: #FFFFFF;
}

.color-palette {
  display: flex;
  margin: 7rem 4rem 4rem;
}

.paintbrush {
  width: 25px;
  height: 25px;
  border-radius: 2rem;
  margin: .5rem;
}
